/* Colors based on the game 2048 */
body{
    margin: auto;
    background-color: #fdf6e3;

    font-family: "Clear Sans", "Helvetica Nueue", Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 10px solid #9D958C;
    text-align: center;
    //font-family: "Clear Sans", "Helvetica Nueue", Arial, sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-left:auto; margin-right:auto; 
    color: #696055;
}

td{
    height: 75px;
    width: 75px;
    background-color: #EDE3D3;
}

td:hover{
    background-color: #DAC8B2;
    cursor: pointer;
}

.emptyTile{
    background-color: #9D958C;
}

.emptyTile:hover{
    background-color: #9D958C;
    cursor: auto;
}

button {
    background-color: #EC4D58;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
